.header-container {
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  color: #fff;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left .logo {
  height: 84px;
  margin-right: 20px;
  cursor: pointer;
}

.header-right {
  display: flex;
  flex: 1;
  justify-content: center;
}

.search-input {
  width: 486px;
  padding: 10px 15px;
  border: #000 solid 1px;

  font-size: 14px;
  outline: none;
}

.search-button {
  background-color: #d26e4b;
  color: #fff;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #823905;
  color: #fff;
}
