.header-container {
    display: flex;
    background: linear-gradient(to right, #d61c1c, #e74b3c);
    padding: 10px 30px;
    color: #fff;
    align-items: center;
    // position: fixed;
    top: 0;
    width: 70%;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 120px;
    margin-right: 20px;
}

.menu-button {
    background-color: #520000;
    color: white;
    border: none;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.menu-button i {
    margin-right: 10px;
}

.header-center {
    display: flex;
    flex: 1;
    margin: 0 30px;
}

.search-input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 20px 0 0 20px;
    font-size: 14px;
    outline: none;
}

.search-button {
    background-color: #fff;
    color: red;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 0 15px;
    cursor: pointer;
    font-size: 16px;
}

.header-right {
    display: flex;
    align-items: center;
}

.cart-button,
.user-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

.header-keywords {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.header-keywords span {
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}

.header-keywords span:hover {
    text-decoration: underline;
}
