#camket {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.8;
}

.img-camket {
    display: block; 
    margin: 20px auto; 
    max-width: 100%; 
    height: auto; 
  }
  
.camket-list1 {
  list-style-type: none;
  padding-left: 20px;

  li {
    margin-bottom: 10px;
    position: relative;

    &:before {
      content: "–";
      position: absolute;
      left: -20px;
    }
  }
}

.camket-list2 {
  list-style-type: none;
  padding-left: 20px;

  li {
    margin-bottom: 10px;
    position: relative;

    &:before {
      content: "+";
      position: absolute;
      left: -20px;
    }
  }
}
