.container {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: auto;
}

header {
  text-align: center;
  padding: 20px 0;
}

.main {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

.product-detail {
  display: flex;
  gap: 20px;
  width: 100%;
}

.product-image {
  flex: 1;
  position: relative;
}
.product-image .pdt-img {
  width: 100%;
  height: auto;
}

.product-image .chitiet-discount {
  position: absolute;
  margin: 30px 0 0 15px;
  background-color: #8c6c3f;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image .chitiet-discount .chitiet-number-discount {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.product-info {
  flex: 1;
}

.product-name {
  font-size: 25px;
  font-weight: bold;
  color: #666;
}

.price {
  color: #000;
  font-size: 25px;
  margin: 30px 0 10px 0;
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
  color: #666;
  font-size: 20px;
  font-weight: normal;
}

.current-price {
  color: #c00000;
  font-weight: bold;
  font-size: 25px;
}

.description {
  font-weight: bold;
}

.short-description {
  line-height: 1.8;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buy-now,
.contact {
  padding: 15px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
}

.buy-now {
  flex-basis: 50%;
  max-width: 50%;
  background-color: orange;
  color: white;
}

.contact {
  flex-basis: 50%;
  max-width: 50%;
  background-color: green;
  color: white;
}

.buy-now:hover,
.contact:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}

.sidebar {
  flex: 1;
}

.chitiet-footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 30px;
  border-right: 1px solid #ccc;
}

.footer-image {
  overflow: hidden;
}
.img-footer {
  width: 100%;
}
.icon-item:last-child {
  border-right: none;
}


